@import "tailwindcss";

@theme {
  --color-verde-200: #acee75;
  --color-verde-300: #91ee77;
  --color-verde-400: #17e880;
  --color-verde-700: #2e482c;
  --color-verde-800: #16281f;
  --color-verde-900: #0f1c15;
  --color-verde-950: #030504;

  --font-sans: "DM Sans", sans-serif;
  --font-serif: "DM Serif Text", serif;

  --animate-slide-in: slide-in 0.4s ease-out forwards;
  --animate-fade-in: fade-in 0.4s ease-out forwards;

  @keyframes slide-in {
    0% {
      transform: translateX(-20px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

@utility container {
  margin: 0 auto;
  padding: 0 0.5rem;
  @media (width >= 40rem) {
    padding: 0 1rem;
  }
}

@utility animate-1 {
  animation-delay: 100ms;
}
@utility animate-2 {
  animation-delay: 200ms;
}
@utility animate-3 {
  animation-delay: 300ms;
}
@utility animate-4 {
  animation-delay: 400ms;
}

@layer components {
  .neon {
    @apply rounded-full border border-verde-200 bg-linear-to-b from-verde-200 to-verde-400;
    box-shadow:
      0 1px 4px 1px rgba(172, 238, 117, 0.25),
      inset 0 -1px 2px var(--color-verde-200);
  }
  .btn {
    @apply rounded-full border border-verde-200 bg-linear-to-b from-verde-200 to-verde-400 px-5 py-2 transition hover:contrast-200  text-verde-900;
    box-shadow:
      0 1px 4px 1px rgba(172, 238, 117, 0.25),
      inset 0 -1px 2px var(--color-verde-200);
  }
  .input {
    @apply rounded-md border-2 border-verde-800 bg-verde-800 p-2 text-white focus:outline-none focus:ring-2 focus:ring-verde-400 focus:border-verde-900 placeholder:text-verde-900;
  }
  .radial-gradient {
    @apply bg-radial-[50%_100%_at_50%_0%] from-verde-700 to-verde-800;
  }
}
